@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    
}
html{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   box-sizing: border-box;
}
body{
    font-size: 1em;
}
h1{
    text-align: center;
}

header{
    background-color: rgb(235, 119, 119);
    padding-top: 0.4em;
    backdrop-filter: 60%;
    
}
main{

    background-color: rgb(240, 245, 241);
    width: 100%;
    
}
footer{
    display: flex;
    Justify-content: space-around;
    padding: 0.4em;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
   background-color: rgb(235, 119, 119);
}

.titulo{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-left: 10%;
    padding-top:0.55em;
}
img{
    max-width: 100%;
    height: auto;
    }
    
.principal{
    display: flex;
    padding-top:0.4em;
    margin: 0 auto;
    width: 100%;
    Justify-content: space-around;
}
.principal h1{
    color: white;
}
.principal a{
    display: inline-block;
    border-end-start-radius: initial;
    padding:0.4em;
}
.redes{
    font-size: 0.7em;
}


#insta{

    font-size: 3em;
    color:rgb(204, 25, 25);
    background-color: rgb(219, 211, 211);
    border-radius: 85%;
 }
 #insta:hover{
    background-color: rgb(194, 115, 115);
 }
 #face{
     font-size: 3em;
     color:rgb(15, 33, 201);
     background-color: rgb(219, 211, 211);
     border-radius: 85%;
 }
 #face:hover{
    background-color: rgb(186, 181, 233);
 }
 #twiter{
    font-size: 3em;
    color:  rgb(8, 160, 233);
 }
 #twiter:hover{
    color: rgb(118, 118, 228);
 }
nav{
    text-align: center;
   background-color:  rgb(235, 119, 119);       
  
}

.contenedor{
    width: 100%;
}
.item2{
    border-top: 2px solid rgb(220,100, 100);
    width: 100%;
}
.item2 ul{
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(235, 119, 119);
    width: 100%;
  }
  
  .item2 li {
    display: inline-block;
  }
  
  .item2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.85em 1em;
    text-decoration: none;
  }
  .item1 ul li img{
    width: 100%;
    padding: 0.4em;
    margin: 0.4em;

}
  .item2 li a:hover {
    background-color: rgb(250, 134, 134);
  }
.item1 ul {
    display: flex;
    flex-direction: row ;
    width: 40%;
    list-style-type: none;
    margin: 0 auto;
}
.item1 ul li{ 
    list-style: none;  
}

.banderas{
    margin-right: 2em;
    text-decoration: none;
}
.titulo-inferior{
    color: floralwhite;
    padding: 0.62em;
   
}
.participantes li, .menu-inferior li{
    list-style:none;
    color: rgb(209, 209, 196);
}
.menu-inferior li a{
    text-decoration: none;
    color: rgb(209, 209, 196);
    
 } 
 .redes-inferior{
     display: flex;
     flex-direction: row;
     
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
    width: 32.4em;
}
.center {
    text-align: center
}

 

.contactoizquierda{
    float:  left;
    clear:  none; 
    width: 45%;
   padding-left: 3.12em;
   display: inline;
}
.contactoderecha{
    float:  left;
    clear:  none; 
    width: 45%;
    padding-left: 3.12em;
    display: inline;
}
.campoubicacion{
    float: left;
    width: 100%;
    text-align: center;
}
.datosdecontacto{
    list-style:none;
}
.botondecontacto{
    
    transition-duration: 0.4s;
    font-size: 0.85em;
    background-color: #555555;
    color: white;
}
.modal {
    display: none; 
   
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 86%; 
    height: 50%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(250, 134, 134);
    width: 80%;
}



    




@media screen and (max-width:60em){
    body{
    font-size: 90%;
    }
    .principal{
        padding-top:0.3em;
        margin: 0 auto;
        width: 80%;
        
    }
    
    .principal a{
        display: inline block;
        Justify-content: flex-end;
        padding:0;
    }
  
    
    
   

    @media screen and (max-width:47em){
        body{
        font-size: 70%;
        }
       
       .item1 ul li{
           width: 90%;
       }
       .item2 ul{
        display: block;
        margin: 0 auto;
        overflow: hidden;
        background-color: rgb(235, 119, 119);
        width: 100%;
      }
       
        a.menu-hamburguesa{
            display: block;
            width: 4em;
            height: 4em;
            display: flex;
            right: 0.5em;
            background-image: url(../img/hamburger.gif);
        }
        
        .item2{
            border-top: 2px solid rgb(220,100, 100);
            width: 100%;
          display: none;
        }
        .item2 ul{
           
            margin: 0 auto;
            overflow: hidden;
            background-color: rgb(235, 119, 119);
            width: 100%;
          }
          
          .item2 li {
            display: block;
            
          }
          
          .item2 li a {
            display: block;
            color: white;
           
           
           
          }
        
        

        

        }
        
    }