@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    
}
html{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   box-sizing: border-box;
}
body{
    
    font-size: 15px;
    background-color: khaki;
}
h1{
    text-align: center;
   
}

header{
    background-color: rgb(235, 119, 119);
    padding-top: 5px;
    backdrop-filter: 60%;
    
}
main{

    background-color: rgb(240, 245, 241);
    width: 100%;
    height: 1300px;
}
footer{
    display: flex;
    Justify-content: space-around;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
   background-color: rgb(235, 119, 119);
}
 
.titulo{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-left: 10%;
    padding-top: 9px;
}
.principal{
    display: flex;
    padding-top: 5px;
    margin: 0 auto;
    width: 100%;
    
}
.principal h1{
    
    color: white;
    

}
.principal a{
    display: inline-block;
   
    border-end-start-radius: initial;
    padding: 5px;
}
.logos-redes-sociales-insta{
    width: 20px;
    height: 20px;
    padding: 5px;
    border-style: none;
    border-radius: 80%;
    background-image: url(../img/logo-instagram.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
   
}
.logos-redes-sociales-face{
    width: 20px;
    height: 20px;
    padding: 5px;
    border-style: none;
    border-radius: 80%;
    background-image: url(../img/Facebook_f_logo_\(2019\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
   
}
nav{
    text-align: center;
   background-color:  rgb(235, 119, 119);       
  
}

.contenedor{
    width: 100%;
}
.item2{
    border-top: 2px solid rgb(220, 100, 100);
    width: 100%;
}
.item2 ul{
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(235, 119, 119);
    width: 100%;
  }
  
  .item2 li {
    display: inline-block;
  }
  
  .item2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .item1 ul li img{
    width: 100%;
    padding: 5px;
    margin: 5px;

}
  .item2 li a:hover {
    background-color: rgb(250, 134, 134);
  }
.item1 ul {
    display: flex;
    flex-direction: row ;
    width: 40%;
   
    
   
    list-style-type: none;
    margin: 0 auto;
}
.item1 ul li{
    
    
    list-style: none;
    
}

.banderas{
    margin-right: 30px;
    text-decoration: none;
}

.titulo-inferior{
    color: floralwhite;
    padding: 10px;
   
}
.participantes li, .menu-inferior li{
    list-style:none;
    color: rgb(209, 209, 196);
}
.menu-inferior li a{
   text-decoration: none;
   color: rgb(209, 209, 196);
   
} 
.redes-inferior{
    display: flex;
	flex-direction: row;/*si los hijos se muestran en filas o en columnas*/
	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
}


.center {
    text-align: center
    }
p {text-align: center;}
.contacto {
    float:  left;
    clear:  none; 
}
.camposizquierda{
    float:  left;
    clear:  none; 
    width: 45%;
     padding-left: 50px;
     display: inline;
    border: none;
    
}
.camposderecha{
    float:  left;
    clear:  none; 
    width: 45%;
    padding-left: 50px;
    display: inline;
}
input, label {
    display:block;
}
button{
    float: right;
    background-color: #555555;
    color: white;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid black;
    
  }
  input[type=number] {
    border: none;
    border-bottom: 2px solid black;
    -moz-appearance:textfield;
    width: 97%;
    
    

  }
  input[type=email] {
    border: none;
    border-bottom: 2px solid black;
   
  }