.carrusel{
    width: 100%;
    height: 500px;
    background-image: url(../img/img03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity:  0.8;
}
.baner-cursos article{
  display: inline-block;
   

}
.cuadritos{
    width: 300px;
    margin: 5px;
    height: 300px;
    border-style: double;
    background-color: blue;
    position: relative;
}
.cuadritos h3{
    color: #fff;
    background-color: black;
    position: absolute;
    right: 0;
    top: 5px;
    padding: 5px;

}
.cuadritos p{
    position: absolute;
    bottom: 5%;
    background-color: cornsilk;
    margin: 3px;
    padding: 2px;

}