.carrusel{
    width: 100%;
    height: 500px;
    background-image: url(../img/img03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity:  0.8;
}
.mini-inscripcion-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
}
.mini-inscripcion {
    display: flex;
    flex-wrap: wrap ;
   
    text-align: center;
    width: 70%;
}