











img{
    max-width: 100%;
    height: auto;
    }

    .carrusel{
        width: 100%;
        text-align: center;
        /*background-image: url(../img/img03.jpg);
        background-repeat: no-repeat;
        background-size: cover;*/
        opacity:  0.8;
    }
    .carruse img{
        max-width: 80%;
    }    
.baner-cursos{

    width: 100%;
    display: inline-block;
    text-align: center;
    display: calc(45%);

}
.baner-cursos article{
  
    width: 20%;  
    display: inline-flex;
    text-align: center;
    
}
.baner-cursos h2{
    font-size: 2.5em;
    text-align: center;
    margin: 1em;
    
}
.cuadritos{
    width: 15.75em;
    margin: 0.3em;
    height: 14.37em;
    border-radius: 15%;
    background-color: rgb(250, 223, 223);
    position: relative;
    

}
.cuadritos h3{
    color: #fff;
    background-color: black;
    position: absolute;
    right: 0;
    top: 1.55em;
    padding: 0.3em;

}
.cuadritos p{
    position: absolute;
    bottom: 5%;
    background-color: cornsilk;
    margin: 0.2em;
    padding: 0.15em;

}
.cuadritos a{
   text-decoration: none;
   color: #fff;
}

#ingles{
    background-image: url(../img/eeuu-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#portugal{
    background-image: url(../img/portugal.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#aleman{
    background-image: url(../img/aleman.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#coreano{
    background-image: url(../img/corea.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banerimg{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;  
    display: inline-flex;
    text-align: center;
}
#sede-mapa{
    text-align: center;
    font-size: 3em;
}
.banerchild{
    width: 25%;
   display: block;
    width: calc(25% - 3em);
   
}
.banerchild span{

    font-size: 1.5em;
    right: 3.75em;
    top: 0.3em;
    background-color: rgb(240, 245, 241);

    
}

.mini-inscripcion form{
   margin-top: 1.8em;
   text-align: center;
  font-size: larger;
 
 }


.mini-inscripcion form select{
    background-color: rgb(225, 143, 137);
   border-collapse: separate;
    color: rgb(255, 255, 255);
    border-radius: 10% ;
    box-sizing: content-box;
}
.mapa-sede{
    width: 100%;
    height: 9.37em;

    
}
@media screen and (max-width:60em){
    body{
    font-size: 90%;

    }
  
   .cuadros{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
   .cuadros .cuadritos{
    width: calc(50% - 2em);
    justify-content: calc(50% - 2em);
    width: 24.75em;
}

.banerimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banerimg .banerchild{
    width: calc(50% - 2em);
    justify-content: calc(50% - 2em);
}
  
}
    
   

    @media screen and (max-width:47em){
        body{
            width: 100%;
        font-size: 70%;
      
        }
        baner-cursos{
            width: 60%;
            display: block;
           
         }
         .cuadros{
            justify-content: center;
         }
         
        .cuadros .cuadritos{
            width: calc(100% - 2em);
            justify-content: center;
            width: 35.75em;
            margin: 0.3em;
            height: 16.37em;
            border-radius: 15%;
            background-color: rgb(250, 223, 223);
            position: relative;
         }
         .banerimg{
             display: block;    
             width: 150%;
             justify-content: center;
            
           
        }
        #sede-mapa{
            text-align: center;
            font-size: 3em;
        }
        .banerchild{
           justify-content: center;
           display: block;
            width: calc(90% - 3em);
           
        }
        .banerchild span{
            font-size: 1.5em;
            right: 3.75em;
            top: 0.3em;
            background-color: rgb(240, 245, 241);
            
        }
        
        .mini-inscripcion form {
            display: block;
        }
        .mini-inscripcion form select{
        display: inline-block;
        width: calc(50% - 3em);

        }       
        
    }     
        
        
        
        
        
        
        
        
