@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    
}
html{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   box-sizing: border-box;
}
body{
    
    font-size: 15px;
    background-color: khaki;
}
h1{
    text-align: center;
   
}

header{
    background-color: rgb(204, 125, 129);
    padding-top: 5px;
    backdrop-filter: 60%;
    
}
main{

    background-color: rgb(240, 245, 241);
    width: 100%;
    height: 1300px;
}
footer{
    display: flex;
    Justify-content: space-around;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
   background-color: rgba(153, 80, 80, 0.884)
}
 
.principal{
    display: flex;
    Justify-content: flex-end;
    padding-top: 5px;
   
   
}
.principal h1{
    position: relative;
    margin-right: 35%;
}
.principal a{
    display: inline-block;
   
    border-end-start-radius: initial;
   padding: 5px;
}
.logos-redes-sociales-insta{
    width: 20px;
    height: 20px;
    padding: 5px;
    border-style: none;
    border-radius: 80%;
    background-image: url(../img/logo-instagram.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
   
}
.logos-redes-sociales-face{
    width: 20px;
    height: 20px;
    padding: 5px;
    border-style: none;
    border-radius: 80%;
    background-image: url(../img/Facebook_f_logo_\(2019\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
   
}
nav{
    text-align: center;
   background-color:  #fff;       
  
}
nav article{
        text-align: center;
        background:linear-gradient(45deg, #fff,rgb(235, 119, 119));
        width: 100%;/*responde a las columnas*/
        box-sizing: border-box;/*esta propiedad hace que el padding no ensanche los anchos*/
       
}
.contenedor{
    display: flex;
    width: 100%;
    flex-direction: column ;
    Justify-content: flex-end;
}
.item1{
    display: flex;
    flex-direction: row ;
    width: 10%;
    Justify-content: flex-end;
    position: relative;
    left: 60%;
    
}
.item1 li{
    
    width: 400px;
    list-style: none;

}
.item1 li img{
    width: 100%;
    padding: 5px;
    margin: 5px;

}
.banderas{
    margin-right: 30px;
    text-decoration: none;
}
.item1 li a{
    margin-right: 20px;
    text-decoration: none;

}
.titulo-inferior{
    color: floralwhite;
    padding: 10px;
   
}
.participantes li, .menu-inferior li{
    list-style:none;
    color: rgb(209, 209, 196);
}
.menu-inferior li a{
   text-decoration: none;
   color: rgb(209, 209, 196);
   
} 
.redes-inferior{
    display: flex;
	flex-direction: row;/*si los hijos se muestran en filas o en columnas*/
	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}
.center {
    text-align: center
    }
p {text-align: center;}
.contacto {
    float:  left;
    clear:  none; 
}
.camposizquierda{
    float:  left;
    clear:  none; 
    width: 45%;
   padding-left: 50px;
   display: inline;
}
.camposderecha{
    float:  left;
    clear:  none; 
    width: 45%;
    padding-left: 50px;
    display: inline;
}
input, label {
    display:block;
}
button{
    float: right;
}
